extends layout

block content
  link(rel="stylesheet", href="/styles/cart.css")

  .cart-container
    h1.cart-title Your Cart

    if !cart || cart.length === 0
      p.empty-text Your cart is empty.
      a.btn-back(href="/menu") ← Back to Menu
    else
      table.cart-table
        thead
          tr
            th Image
            th Item
            th Price
            th Qty
            th Total
            th Remove
        tbody
          each item in cart
            tr
              td
                img.cart-img(src=item.image)
              td= item.name
              td ₹#{item.price}
              td #{item.qty}
              td ₹#{item.price * item.qty}
              td 
                a.remove-btn(href=`/cart/remove/${item.item_id}`) ✖

      .cart-summary
        h2 Summary
        p Subtotal: span.amount ₹#{total}
        p GST (5%): span.amount ₹#{(total*0.05).toFixed(2)}
        h3.grand-total Grand Total: ₹#{(total * 1.05).toFixed(2)}

        a.checkout-btn(href="/checkout") Proceed to Checkout →
